<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerURL</key>
	<string>https://expeditionearth.herokuapp.com/</string>
	<key>UIAppFonts</key>
	<array>
		<string>Mohave-Medium.ttf</string>
		<string>Mohave-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launch_screen</string>
	</dict>
</dict>
</plist>
